@import url(../css/layout/content.css);
@import url(../css/layout/header.css);
@import url(../css/layout/navbar.css);
@import url(../css/base/button.css);
@import url(../css/base/input.css);
@import url(../css/base/toast.css);
@import url(../css/base/table.css);
@import url(../css/base/pageNavigation.css);
@import url(../css/base/pop-up.css);
@import url(../css/base/form.css);

@font-face {
    font-family: GoogleSands;
    src: url(../assets/font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: GoogleSands-bold;
    src: url(../assets/font/GoogleSans-Bold.otf);
}

body{
    margin: 0;
    font-family: GoogleSands;
    font-size: 13px;
}

.row{
    width: 100%;
    margin: 10px;
}

.collape-table{
    background-color: #ddd;
    width: 60%;
    padding: 0 12px;
}

.ground{
    background-color: #cccccc;
}

.main{
    width: 100%;
    height: calc(100vh - 48px);
    display: flex;
}