.m-input{
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
    padding-left: 16px;
    outline: none ;
    width: 250px;
}

.m-input::placeholder{
    color: #bbbbbb;
    font-size: 11px;
}

.m-lable{
    padding-bottom: 4px;
    width: 100%;
}

.m-input:focus{
    border-color: #019160;
}

.m-error{
    position: relative;
    width: 100%;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
}

.m-error-arrow{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ff4747;
    left: 50%;
    top: 80%;
    transform: rotate(45deg);
}

.m-error-text{
    background-color: #ff4747;
    border-radius: 4px;
    position: relative;
    z-index: 99;
    padding: 4px 8px;
    font-size: 11px;
}

.input-row{
    width: 250px;
}

.m-input__icon{

}
.m-input__icon--search{
    background-image: url(../../assets/icon/search.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px center;
}

.m-input__icon--search::placeholder{
    padding-left: 24px;
    font-size: 14px;
}
