table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

th,td{
    padding-left: 10px;
    padding-right: 8px;
    height: 48px;
}

.m-table tr{
    border-bottom: 1px solid #bbbbbb;
}

.special{
    text-align: right;
}
