.toast-row{
    display: flex;
    width: 250px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,16%);
    margin: 10px;
    line-height: 48px;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 12px;
}

.m-toast__icon--error{
    color: red;
}

.m-toast__icon--warning{
    color: orange;
}

.m-toast__icon--success{
    color: green;
}

.m-toast__icon--infor{
    color: blue;
}


.m-toast__icon{
    font-size: 24px;
}

.m-toast__text{
    color: #000000;
}